.card {
    width: 100%;
    height: 80px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    align-items: center;
    padding: 10px;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .imageWrapper {
        width: 52px;
        height: 52px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        background: #f5f5f5;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        padding: 12px;

        .title {
            font-size: 14px;
            font-weight: 500;
            color: #1f1f1f;
            margin: 0 0 8px;
            line-height: 1.2;
        }

        .priceContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            .price {
                font-size: 17px;
                color: #292928;
                font-weight: 600;
            }

            .oldPrice {
                font-size: 12px;
                color: #2929284D    ;
                text-decoration: line-through;
            }

            .discount {
                font-size: 12px;
                color: #F24131;
                font-weight: 600;
            }
        }
    }
}