.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 600px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px; 
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    width: 100%;
}

